{% extends "base.html" %}
{% block content %}
    <div id="article">
        <div id="article-header">
            <p class="infos-art">Par
                {% for author in article.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}" class="author">{{ author }}</a>
                {% endfor %}
                dans <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a> le {{ article.date.strftime('%d/%m/%Y') }}.
            </p>
            <br />
            <h1>{{ article.title }}</h1>
            {% if article.subtitle %}
            <h2>{{ article.subtitle }}</h2>
            {% endif %}
        </div>

        <div id="article-serie">
            {% if article.series %}
            <p>Cet article est le numéro {{ article.series.index }} de la série {{ article.series.name }}.</p>
            <ol class="parts">
                {% for part_article in article.series.all %}
                    <li {% if part_article == article %}class="active"{% endif %}>
                        <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                    </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>

        <div id="article-content">
            {{ article.content }}
        </div>
    </div>

{% endblock content %}
