<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title> {% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR }}/css/style.css" /> 
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" /> 
    <link rel="stylesheet" href="{{ SITEURL  }}/{{ THEME_STATIC_DIR }}/css/fort-awesome.css" /> -->
    {% endblock head %}
</head>
<body>
    <header>
        <a href="{{ SITEURL }}/">{{ SITENAME.upper() }}</a>
        {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for name, tmp in categories %}
        <a href="{{ SITEURL }}/{{ name.url }}">{{ name }}</a>
            {% endfor %}
        {% endif %}
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        Thème principal fait par Eban, j’ai aussi repris des éléments de medius.
    </footer>
</body>
</html>
