{% macro listArticles(objIt) -%}
{% for art in objIt %}
    <div class="pre-art">
        <p class="infos-art">Par
            {% for author in art.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}" class="author">{{ author }}</a>
            {% endfor %}
            dans <a href="{{ SITEURL }}/{{ art.category.url }}" class="category">{{ art.category }}</a> le {{ art.date.strftime('%d/%m/%Y') }}.
        </p>
        <br />

        <h2><a href="{{ SITEURL }}/{{ art.url }}">{{ art.title }}</a></h2>
        <br />
        <div class="summary">
            {{ art.summary }}
        </div>
        <a href="{{ SITEURL }}/{{ art.url }}" class="continue">Continuer à lire</a>
        {% if art.tags is not none  %}
        <hr />
        <div class="tags">
            {% for tag in art.tags %}
            <a href="{{ SITEURL }}/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endfor %}
{%- endmacro %}

{% macro paginationArt(prev, next) -%}
    <div id="base-pagenation">
        {% if prev is not none %} 
        <p id="base-prev"><a href="{{ SITEURL }}/{{ prev.url }}">Articles récents</a></p>
        {% endif %}

        {% if next is not none %} 
        <p id="base-next"><a href="{{ SITEURL }}/{{ next.url }}">Ancients articles</a></p>
        {% endif %}
    </div>
{%- endmacro %}
